.content{
    height: 300px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.content .buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

button{
    height: 35px;
    width: 60px;
    background-color: rgb(8, 69, 112);
    color: white;
    border-radius: 5px;
}